/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   General styles
   ========================================================================== */

body { font-family: arial; font-size: 16px; }
div, h1, h2, h3, h4, h5, form, p, table, blockquote, UL, LI { margin: 0px; padding: 0px; }
INPUT, TEXTAREA { font: 12px Arial, helvetica, sans-serif; }

img { border: 0px; }
A { text-decoration: none; }
A:focus {outline: 0px solid transparent;}
hr { display: none; }
.fix { width:0px; height:0px; overflow:hidden; clear:both; border:1px solid transparent; }
.clear { clear:both; }
.hide { display: none }
a.fit_link { display: block; width: 100%; height: 100%; }

.separator { width: 100%; height: 1px; margin: 20px 0; background: #999; }

/* ==========================================================================
   Site styles
   ========================================================================== */

header { min-height: 100px; border-bottom: 2px solid #666; }
header .logo h1 a { font-size: 54px; line-height: 100px; color: #666; text-decoration: none; color: #007E5B; text-shadow: 2px 2px 4px #999; filter: dropshadow(color=#999, offx=2, offy=2); background: url(../img/logo.jpg) center right no-repeat; padding-right: 100px; }

header .aggiungi_annuncio {  }
header .aggiungi_annuncio a { text-decoration: none; font-size: 24px; line-height: 53px; color: #FFF; background-color: #5CB85C; border-color: #4CAE4C; text-align: center; margin: 21px 0;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
}
header .aggiungi_annuncio a:hover { 
	box-shadow: 0px 0px 6px 2px #999; 
	-webkit-box-shadow: 0px 0px 6px 2px #999; 
	transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-o-transform: scale(1.02);
	-ms-transform: scale(1.02);
}

.main_container { padding-top: 40px; }
.main_container .box_annuncio { width: 100%;border: 1px solid #ebebeb; height: 400px; margin-bottom: 20px; padding: 20px; cursor: pointer; -webkit-border-radius: 10px; border-radius: 10px; text-align: center; -webkit-box-shadow: 0px 0px 2px 2px #666;
box-shadow: 0px 0px 7px 1px #666; }
.main_container .box_annuncio img { width: auto; height: 160px; padding-bottom: 20px; }
.main_container .box_annuncio .thumb { width: 100%; height: 150px; margin: 0 auto; background-size: cover; margin-bottom: 20px; }
.main_container .box_annuncio p { text-align: left; font-size: 14px; }


.aggiungi_post_form { position: relative; padding: 80px 0 50px 0; margin-bottom: 180px; }
.aggiungi_post_form label { text-transform: capitalize; color: #333; }
.aggiungi_post_form .publish_button { font-size: 25px; line-height: 50px; min-height: 50px; background-color: #5CB85C; cursor: pointer; text-align: center; font-weight: bold; margin-top: 50px; color: #fff; text-shadow: 2px 2px 4px #999; filter: dropshadow(color=#999, offx=2, offy=2); border: 1px solid #333; -webkit-border-radius: 10px; border-radius: 10px;
	position: absolute; bottom: -50px; left: 0px; width: 100%; 
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
}
.aggiungi_post_form .publish_button:hover { -webkit-box-shadow: 0px 0px 6px 2px #999; box-shadow: 0px 0px 6px 2px #999; } 
.aggiungi_post_form textarea { min-height: 300px; width: 80%; padding: 15px; font-size: 18px; }

label { font-size: 16px; display: block; }
input { padding: 3px 5px; width: 250px; margin: 0 0 10px; }
input[type="file"] { padding-left: 0; }
input[type="submit"] { width: auto; }
 
#upload_file { margin-top: 20px; } 
 
#files {  font-size: 11px; }
#files strong { font-size: 13px; }
#files a { float: right; margin: 0 0 5px 10px; }
#files ul { list-style: none; padding-left: 0; }
#files li { width: 280px; font-size: 12px; padding: 5px 0; border-bottom: 1px solid #CCC; }

footer { height: 100px; margin-top: 38px; border-top: 2px solid #666; }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
